.form__content {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #3a3b3c;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00f5a0;
  border-radius: 4px;
  border-radius: 50px;
}
