@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* font-size: 14px; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  --plyr-video-control-background-hover: #3dbda7;
  --plyr-range-fill-background: #3dbda7;
}

.select-clamp > span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: center;
}

html{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.all-0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

 
.text-shadow-green {
  text-shadow: 0px 2px 4px #10b981; /* Adjust the color code to the green shade you want */
}

.glowing-text-green {
  color: #fff; /* White text */
  text-shadow: 
    0 0 10px #10b981, 
    0 0 20px #10b981, 
    0 0 30px #10b981
}

.bg-ondark-low {
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 26 / var(--tw-bg-opacity));
}

.from-ondark-low {
  --tw-gradient-from: #14141A var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(20 20 26 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.animate-float {
  animation: floats 5s ease-in-out infinite;
}

@keyframes floats {
  50% {
    transform: translate3d(var(--translate-x, 0),var(--translate-y, -12px),0) rotate(var(--rotate, 0));
  }
}


 
.text-shadow-green {
  text-shadow: 0px 2px 4px #10b981; /* Adjust the color code to the green shade you want */
}

.glowing-text-green {
  color: #fff; /* White text */
  text-shadow: 
    0 0 10px #10b981, 
    0 0 20px #10b981, 
    0 0 30px #10b981
}

.bg-ondark-low {
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 26 / var(--tw-bg-opacity));
}

.from-ondark-low {
  --tw-gradient-from: #14141A var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(20 20 26 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.animate-float {
  animation: floats 5s ease-in-out infinite;
}

@keyframes floats {
  50% {
    transform: translate3d(var(--translate-x, 0),var(--translate-y, -12px),0) rotate(var(--rotate, 0));
  }
}



input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px transparent inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:autofill,
input:autofill:focus,
input:autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: text;
  background-color: #024a4f !important;
  border: none;
  border-bottom: 1px solid rgba(0, 240, 255, .2);
  box-shadow: inset 0 0 0 1000px transparent !important;
  color: #00f0ff !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px transparent inset;
  /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

.video-player>div {
  width: 100%;
  height: 100%;
}

.login-bg {
  background: url("/login-bg.png") no-repeat center center fixed;
}

.clip-end {
  clip-path: inset(-20px 0 -20px 8px);


}

.fade-in {
  animation: fade 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.fade-in-horizontal {
  animation: fadeHorizontal 0.5s ease-in-out forwards;
}

.fade-out-horizontal {
  animation: fadeOutHorizontal 0.3s ease-in-out forwards;
}

@keyframes fadeHorizontal {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutHorizontal {
  0% {

    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-item {
  display: flex;
  align-items: center;
}

.center-justify {
  display: flex;
  justify-content: center;

}

.bg-form {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.after-sign::after {
  content: ":";
  position: absolute;
  top: 0;
  font-size: 14px;
  color: white;
  opacity: 80%;
}

.after-sign::after {
  content: ":";
  position: absolute;
  top: 0;
  font-size: 14px;
  color: white;
  opacity: 80%;
}

.bg-form-red {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.bg-glass {
  background: linear-gradient(0deg,
      #39af9b,
      #3dbda86b);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.bg-glass-red {
  background: linear-gradient(0deg,
      rgba(255, 91, 91, 0.82),
      rgba(255, 91, 91, 0.578));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.btn-hexagon {


  --btn-raise: 1rem;
  clip-path: polygon(var(--btn-raise) 0%, calc(100% - var(--btn-raise)) 0%, 100% 50%, calc(100% - var(--btn-raise)) 100%, var(--btn-raise) 100%, 0 50%);

}

.rectangle {
  /* clip-path: polygon(calc(100% - 28.1000px) calc(100% - 26.4000px), 31.8000px calc(100% - 0.1000px), 31.8000px calc(100% - 0.1000px), 26.7300px calc(100% - 0.2029px), 21.8880px calc(100% - 1.1272px), 17.3460px calc(100% - 2.8063px), 13.1760px calc(100% - 5.1736px), 9.4500px calc(100% - 8.1625px), 6.2400px calc(100% - 11.7064px), 3.6180px calc(100% - 15.7387px), 1.6560px calc(100% - 20.1928px), 0.4260px calc(100% - 25.0021px), 0.0000px calc(100% - 30.1000px), 0.0000px 56.4000px, 0.0000px 56.4000px, 0.3602px 51.7233px, 1.4056px 47.2704px, 3.0834px 43.0971px, 5.3408px 39.2592px, 8.1250px 35.8125px, 11.3832px 32.8128px, 15.0626px 30.3159px, 19.1104px 28.3776px, 23.4738px 27.0537px, 28.1000px 26.4000px, calc(100% - 31.8000px) 0.1000px, calc(100% - 31.8000px) 0.1000px, calc(100% - 26.7300px) 0.2029px, calc(100% - 21.8880px) 1.1272px, calc(100% - 17.3460px) 2.8063px, calc(100% - 13.1760px) 5.1736px, calc(100% - 9.4500px) 8.1625px, calc(100% - 6.2400px) 11.7064px, calc(100% - 3.6180px) 15.7387px, calc(100% - 1.6560px) 20.1928px, calc(100% - 0.4260px) 25.0021px, 100% 30.1000px, 100% calc(100% - 56.3000px), 100% calc(100% - 56.3000px), calc(100% - 0.3602px) calc(100% - 51.6504px), calc(100% - 1.4056px) calc(100% - 47.2192px), calc(100% - 3.0834px) calc(100% - 43.0628px), calc(100% - 5.3408px) calc(100% - 39.2376px), calc(100% - 8.1250px) calc(100% - 35.8000px), calc(100% - 11.3832px) calc(100% - 32.8064px), calc(100% - 15.0626px) calc(100% - 30.3132px), calc(100% - 19.1104px) calc(100% - 28.3768px), calc(100% - 23.4738px) calc(100% - 27.0536px), calc(100% - 28.1000px) calc(100% - 26.4000px)); */
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}

.cyberpunk-button {
  display: inline-block;
  background-color: hsl(var(--primary));
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.45s ease;
  position: relative;
}

.cyberpunk-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));

  z-index: 1;
}

.cyberpunk-button:hover {
  background-color: #00d8f59f;
  color: white;
  /* color: white; */
}

.round-dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23ADBCB9FF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 50%;
}

.cyberpunk-button:hover:before {
  /* animation-delay: 1s; */
  animation: toRight 1s  infinite;

}
@keyframes toRight {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.wave{
  position: relative;
}
.wave::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 20%;
  /* transform: rotate(45deg); */
   animation: toRight 2s  infinite;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}


  /* animation-delay: 1s; */
 

.room-user {
  clip-path: polygon(0 35px, 100% 0%, 100% calc(100% - 35px), 0 100%);
}

.fancy {
  --offset: 3px;
  overflow: hidden;
}

/* Conic gradient */
.fancy::before {
  content: '';
  background: conic-gradient(transparent 270deg, hsl(var(--primary)), transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}


.fancy-2 {
  --offset: 3px;
  overflow: hidden;
}

.fancy-2::before {
  content: '';
  background: conic-gradient(transparent 270deg, #00d9f5, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  z-index: 4;
  width: 100%;
  animation: rotate 2s linear infinite;
}
/* Overlay */
.fancy::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}



@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

.hexagon {
  clip-path: polygon(18% 0, 82% 0, 100% 50%, 82% 100%, 18% 100%, 0% 50%);


}

.glow-vertical {
  background: linear-gradient(0deg, #00f5a0, transparent);
}

.round-parent {
  filter: url(#round);
}

.card-container {
  background: var(--radio, radial-gradient(171.5% 171.58% at 2.13% 0%, #053732 0%, rgba(0, 108, 97, 0.99) 32.63%, rgba(14, 134, 121, 0.85) 41.71%, rgba(61, 189, 167, 0.00) 100%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.before-glow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  background: #00d9f5;
  width: 150px;
  height: 60px;
  filter: blur(37px);
  transition: all .3s ease-out 0s;
  z-index: 1;
}

.bg-post {

  background: linear-gradient(145deg, #8CC6BC -22.19%, #00544C 52.78%, #92FFFD 88.46%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamps-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 4px;
  height: 4px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(var(--muted-foreground));
}

/* html *::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground));
} */
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--bg-dark-theme);
}

.custom-scroll-bar-3::-webkit-scrollbar {
  border-radius: 0;
  width: 4px;
  height: 6px !important;
}

.custom-scroll-bar-3::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6b7280 !important;
}

/* .custom-scroll-bar-3::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground));
} */
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--bg-dark-theme);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 4px !important;
}

.tag-scroll::-webkit-scrollbar-thumb {
  background-color: #00544C;
}

.tag-scroll::-webkit-scrollbar {
  height: 2px !important;
}

.tag-scroll::-webkit-scrollbar-track {
  background-color: transparent;

}

.scrollbar-2::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
}

.super {
  background: linear-gradient(to top left, #00f5a0, #00d9f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.super-secondary {
  background: linear-gradient(to top left, #00d9f5, rgb(21, 228, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.super-bg {
  background: linear-gradient(to top left, #00f5a0, #00d8f59f);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('https://icones.pro/wp-content/uploads/2021/03/icone-de-l-horloge-verte.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}



.gradient-l {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.gradient-r {
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0.8),
      transparent);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}

.remove-button>button {
  display: none;
}

.bg-home {
  background-image: linear-gradient(150.4deg,
      #003e38ff 1%,
      #003e38ff 14%,
      #014e46ff 28%,
      #00766aff 41%,
      #004e46f0 60%,
      #035149f3 62%,
      #003e38fb 92%,
      #002924ff 99%);
  background-position: center;
  background-repeat: no-repeat;
}

.shine {
  box-shadow: 0px 2px 22px 0px #2ebca4ba;
}

.shine-secondary {
  box-shadow: 0px 2px 22px 0px #00d8f59f;

}

.shine-2 {
  box-shadow: -2px 2px 22px 5px #2ebca4ba;

}



.remove-button>button {
  display: none;
}

.bg-home {
  background-image: linear-gradient(150.4deg, #003e38ff 1%, #003e38ff 14%, #014e46ff 28%, #00766aff 41%, #004e46f0 60%, #035149f3 62%, #003e38fb 92%, #002924ff 99%);
  background-position: center;
  background-repeat: no-repeat;

}

.bg-layout {
  background-image: linear-gradient(150.4deg, #003e38ff 1%, #003e38ff 14%, #014e46ff 28%, #00766aff 41%, #004e46f0 60%, #035149f3 62%, #003e38fb 92%, #002924ff 99%);
}

.bg-matching{
  background-image: linear-gradient(150.4deg, #0c717e 1%, #0c717e 14%, #1da1b2 28%, #07b2c9 41%, #1096a8 60%, #0b9bad 62%, #0c717e 92%, #0a5964 99%);

}
.chat-left+.chat-right {
  margin-top: 10px;
}

.chat-right+.chat-left {
  margin-top: 10px;
}

.typing__dot {
  float: left;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #00f5a0, #00d9f5);

    --background: 228 8% 12%;
    --foreground: 169 10% 97.4%;

    --muted: 175 100% 14%;
    --muted-foreground: 169 10% 70.8%;

    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;

    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;

    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;

    --primary: 170 51% 49%;
    --primary-foreground: 169 10% 4.8%;

    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;

    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;

    --ring: 169 100% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Daytime button CSS start*/

.toggleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
  display: none;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
  content: "AM";
  font-weight: 700;
  position: absolute;
  left: -50px;
  top: 15px;
  color: #ffcf96;
  font-size: 18px;
}

.toggle:after {
  content: "PM";
  position: absolute;
  font-weight: 700;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: white;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked+.toggle {
  background-color: #749dd6;
}

input:checked+.toggle:before {
  color: #ffffff;
}

input:checked+.toggle:after {
  color: #749dd6;
}

input:checked+.toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked+.toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked+.toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked+.toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked+.toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked+.toggle .star--4,
input:checked+.toggle .star--5,
input:checked+.toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked+.toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Daytime button CSS end */

.EmojiPickerReact {
  background-image: linear-gradient(150.4deg,
      #003e38ff 1%,
      #003e38ff 14%,
      #014e46ff 28%,
      #00766aff 41%,
      #004e46f0 60%,
      #035149f3 62%,
      #003e38fb 92%,
      #002924ff 99%) !important;
  background-position: center !important;
  background-repeat: no-repeat;
  background-color: hsl(var(--muted));
  border-color: transparent !important;
  border-width: 0 !important;
}


.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
  background-color: hsl(var(--muted)) !important;
}