@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* font-size: 14px; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px transparent inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:autofill,
input:autofill:focus,
input:autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: text;
  background-color: #024a4f !important;
  border: none;
  border-bottom: 1px solid rgba(0, 240, 255, .2);
  box-shadow: inset 0 0 0 1000px transparent !important;
  color: #00f0ff !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px transparent inset;
  /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

.login-bg {
  background: url("/login-bg.png") no-repeat center center fixed;
}

.fade-in {
  animation: fade 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.fade-in-horizontal{
  animation: fadeHorizontal 0.5s ease-in-out forwards;
}
.fade-out-horizontal{
  animation: fadeOutHorizontal 0.3s ease-in-out forwards;
}

@keyframes fadeHorizontal {
  0%{
    opacity: 0;
    transform: translateY(80px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
@keyframes fadeOutHorizontal {
  0%{

    opacity:1;
    transform: translateY(0px);
  }
  100%{
    opacity: 0;
    transform: translateY(80px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bg-form {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card-container {
  background-image: radial-gradient(ellipse 1044.9146833210098px 1174.7721928905369px at 13.000009424193191px -0.000024393372202169417px, #053732ff 0%, #006c61fd 33%, #0e8679da 42%, #3dbda700 100%);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 4px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(var(--muted-foreground));
}

/* html *::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground));
} */
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--bg-dark-theme);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
}

.super {
  background: linear-gradient(to top left, #00f5a0, #00d9f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.remove-button>button {
  display: none;
}

.bg-home {
  background-image: linear-gradient(150.4deg,
      #003e38ff 1%,
      #003e38ff 14%,
      #014e46ff 28%,
      #00766aff 41%,
      #004e46f0 60%,
      #035149f3 62%,
      #003e38fb 92%,
      #002924ff 99%);
  background-position: center;
  background-repeat: no-repeat;
}

.shine {
  box-shadow: 0px 2px 22px 0px #2ebca4ba;
}

.remove-button>button {
  display: none;
}

.bg-home {
  background-image: linear-gradient(150.4deg, #003e38ff 1%, #003e38ff 14%, #014e46ff 28%, #00766aff 41%, #004e46f0 60%, #035149f3 62%, #003e38fb 92%, #002924ff 99%);
  background-position: center;
  background-repeat: no-repeat;

}

.bg-layout {
  background-image: linear-gradient(150.4deg, #003e38ff 1%, #003e38ff 14%, #014e46ff 28%, #00766aff 41%, #004e46f0 60%, #035149f3 62%, #003e38fb 92%, #002924ff 99%);
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #00f5a0, #00d9f5);

    --background: 228 8% 12%;
    --foreground: 169 10% 97.4%;

    --muted: 175 100% 14%;
    --muted-foreground: 169 10% 70.8%;

    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;

    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;

    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;

    --primary: 170 51% 49%;
    --primary-foreground: 169 10% 4.8%;

    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;

    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;

    --ring: 169 100% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Daytime button CSS start*/

.toggleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
  display: none;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
  content: "AM";
  font-weight: 700;
  position: absolute;
  left: -50px;
  top: 15px;
  color: #ffcf96;
  font-size: 18px;
}

.toggle:after {
  content: "PM";
  position: absolute;
  font-weight: 700;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: white;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked+.toggle {
  background-color: #749dd6;
}

input:checked+.toggle:before {
  color: #ffffff;
}

input:checked+.toggle:after {
  color: #749dd6;
}

input:checked+.toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked+.toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked+.toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked+.toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked+.toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked+.toggle .star--4,
input:checked+.toggle .star--5,
input:checked+.toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked+.toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Daytime button CSS end */